header {
    background: hsl(0, 0%, 100%); 
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: url(../images/logo.png) no-repeat;
    background-position: 20px;
    box-sizing: border-box; 
}
