.filters {
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}
.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin:11px 30px;
    border: 0;
    float: right;
}

.filters button:hover {
    opacity: 90%;
}

.locations {
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.amenities {
    margin-left: 25%;
}

.filters div {
    height: 100%;
    width: 25%;
    display: inline-block;
    position: absolute;
}

.filters h3 {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
}
.filters h4 {
    margin-left: 30px;
}

