.places {
    text-align: center;
}
.places h1 {
    font-size: 30px;
    text-align: left;
    margin: 20px 0 10px 0;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 15px;
    top: 15px;
}

.information {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 35px;
    padding: 5px 0;
}
.information div {
    width: 100px;
    display: inline-block;
    text-align: center;
}
.information .ilog {
    margin: 0 22px -10px 22px;
}
.ilog {
    background-size: 120%;
    background-position: center;
    width: 30%;
    height: 60px;
}
.max_guest .ilog{
    background: url(../images/icon_group.png) no-repeat;
}
.number_rooms .ilog{
    background: url(../images/icon_bed.png) no-repeat;
}
.number_bathrooms .ilog{
    background: url(../images/icon_bath.png) no-repeat;
}

.user, .description {
    text-align: left;
    margin: 5px 0;
}

strong {
    font-weight: 600;
}